@import url(https://fonts.googleapis.com/css?family=Orbitron:300,300italic,400,600);

html {font-family: 'Orbitron', sans-serif;}

body{	background-color:#E9EAED; 	background-repeat: no-repeat; 	background-size: 100% auto; 	font-size: 20px;	color: black;	margin:0;padding:0;}
