body {
  background:#175690 ;
  font-family: 'open sans', sans-serif;
}
form#login-form {

  background:rgba(255,255,255,0.7);
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  margin: 30px auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
}
.head {
  color: #666;
  font-size: 34px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}
.social {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 82%;
}
.social h4 {
  color: #666;
  font-weight: normal;
  margin: 30px 0 20px;
  text-align: center;
}
.social ul{
  display: block;
}
.social ul li{
  list-style: none;
  float: left;
  width: 31.33%;
  margin: 0 1%;
}
.social ul li a{
  display: inline-block;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
  padding: 7px;
  display: block;
  text-align: center;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.social ul li a:hover{opacity: .8;}
.social ul li a.facebook{
   background: #3a589a;
}
.social ul li a.twitter {
  background: #4099ff;
  }
 .social ul li a.google-plus {
  background: #e9544f;
}
.divider{
  background: #ddd;
  height: 2px;
  display: block;
  position: relative;
  width: 80%;
  margin: 30px auto;
}
.divider span{
  width: 30px;
  height: 20px;
  background:rgba(255,255,255,0.0);
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -12px;
  text-align: center;
  color: #999;
}

.login {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.login label {
  color: #888;
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.login input[type="email"], .login input[type="password"] {
  border: 2px solid #dfdfdf;
  margin: 6px 0;
  padding: 12px;
  width: 100%;

}
.login input[type="email"]:hover, .login input[type="password"]:hover {
outline: none;
border-color: #8dc9e5;
}
.login input[type="email"]:focus, .login input[type="password"]:focus {

  outline: none;
  border-color:#0676FF;
}



.login input[type="submit"] {
  background:#2da5da;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 0;
  outline: medium none;
  overflow: hidden;
  padding: 14px;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;
}
.login input[type="submit"]:hover {
  background:#0676FF;
}
.text-p{
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
  color:#888;
.text-p a{
  color: #175690;
}

@media (max-width: 480px){

  form#login-form {
    width: 90%;
    margin: 30px auto;
  }

}
}
